<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300,400,600,700&amp;lang=en" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
  </head>
<!-- style="background-image:url({{ url_for('static',filename='img/homebg.jpg') }}) " -->
  <body >

    <br><br><br><br>
    <a href="https://github.com/RavicharanN/Catalyst"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <h1 style="font-family: Raleway;font-size:52px"> Catalyst </h1>
    <p style="font-family: Raleway;text-align:center;font-size:22px">Peer to Peer connectivity made easy</p>
    <br>
    <div class="container">
      <p style="font-family: Raleway;text-align:center;font-size: 18px">Catalyst is a peer to peer file and a folder transfer application, which allows you to tansfer files to the
      devices in your local network at lightning speed.<br><a href="https://github.com/RavicharanN/Catalyst/readme.md" style="font-family:Raleway;color:#55acee"> Click here </a>for the usage guidelines</p>
      <div class="containerCSS" style="margin-top: -125px;">
        <a class="buttonCSS" href="./sender"><div style="font-family:Raleway;color:white">Send</div></a>
        <a class="buttonCSS" href="./receiver"><div style="font-family:Raleway;color:white">Receive</div></a>
      </div>
</body>
</html>
